h1 {
  /* Gantikan warna ke #ff0000 */
  color: #ff0000;
}

p {
  /* Gantikan warna ke #0000ff */
  color: #0000ff;
}

h1 {
  color: #ff0000;
  /* Gantikan font-size ke 40px */
  font-size: 40px;
  
  /* Gantikan font-family ke serif */
  font-family: serif;

}

p {
  color: #0000ff;
  /* Gantikan font-size ke 20px */
  font-size: 20px;
  
  /* Gantikan font-family ke "Lucida Grande" */
  font-family: "Lucida Grande";
  
}

h1 {
  color: #e6855e;
  font-size: 30px;
  /* Gantikan background-color ke #f3f372 */
  background-color: #f3f372;
  
  /* Gantikan height ke 80px */
  height: 80px;
  
  /* Gantikan width ke 200px */
  width: 200px;
  
}

img {
  /* Gantikan height ke 50px */
  height: 50px;
  
  /* Gantikan width ke 70px */
  width: 70px;
  
}

li{
  color: #444;
}

/* Gantikan warna "selected" ke #ff0000 */
.selected{
  color:#ff0000;
}

/* Gantikan font-family tag <body> ke "Avenir Next" */
body {
  font-family: "Avenir Next";
}

body {
  font-family: "Avenir Next";
}

/* Gantikan background-color header ke #f7f2b4, dan height ke 90px */
.header {
  background-color: #f7f2b4;
  height: 90px;
}

/* Gantikan background-color main ke #bdf7f1, dan height ke 600px */
.main {
  background-color: #bdf7f1;
  height: 600px;
}

/* Gantikan background-color footer ke #ceccf3, dan height ke 270px */
.footer {
  background-color: #ceccf3;
  height: 270px;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
  /* Gantikan property float ke left */
  float: left;
}

.header {
  background-color: #f7f2b4;
  height: 90px;
}

/* Gantikan font-size milik header-logo ke 36px, dan property float ke left */
.header-logo {
  font-size: 36px;
  float: left;
}

.main {
  background-color: #bdf7f1;
  height: 600px;
}

.footer {
  background-color: #ceccf3;
  height: 270px;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
  float: left;
  /* Ubahlah padding atas & bawah ke 33px, dan padding kiri & kana ke 20px */
  padding: 33px 20px;
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  /* Ubahlah padding atas & bawah ke 20px, dan padding kiri & kana ke 40px */
  padding: 20px 40px;
}

.main {
  background-color: #bdf7f1;
  height: 600px;
}

.footer {
  background-color: #ceccf3;
  height: 270px;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
  /* Pindahkan kedua baris dibawah kesekitar baris 25 */
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

/* Tambahkan CSS tag <li> yang diatas kedalam header-list */
.header-list li {
  float: left;
  padding: 33px 20px;
}

.main {
  background-color: #bdf7f1;
  height: 600px;
}

.footer {
  background-color: #ceccf3;
  height: 270px;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

.main {
  background-color: #bdf7f1;
  height: 600px;
}

.footer {
  /* Gantikan background-color ke #2f5167 */
  background-color: #2f5167;
  
  /* Gantikan color ke #fff */
  color: #fff;
  
  /* Gantikan height ke 120px */
  height: 120px;
  
  /* Gantikan padding untuk semua sisi ke 40px */
  padding: 40px;
  
}

/* Gantikan font-size dan property float footer-logo */
.footer-logo {
  font-size: 32px;
  float: left;
}

/* Gantikan float property footer-list */
.footer-list {
  float: right;
}

/* Tambahkan CSS untuk tag <li> kedalam footer-list */
.footer-list li {
  padding-bottom: 20px;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

.main {
  /* Hapuskan CSS background-color */
  
  /* Hapuskan CSS height */
  
  /* Gantikan padding atas & bawah ke 100px, dan padding kiri & kanan ke 80px */
  padding: 100px 80px;
  
}

/* Gantikan font-size tag <h1> didalam copy-container */
.copy-container h1 {
  font-size: 140px;
}

/* Gantikan font-size tag <h2> didalam copy-container */
.copy-container h2 {
  font-size: 60px;
}

/* Gantikan color tags <span> didalam copy-container */
.copy-container span {
  color: #ff4a4a;
}

.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}
