h1 {
  /* Gantikan warna ke #ff0000 */
  color: #ff0000;
}

p {
  /* Gantikan warna ke #0000ff */
  color: #0000ff;
}

h1 {
  color: #ff0000;
  /* Gantikan font-size ke 40px */
  font-size: 40px;
  
  /* Gantikan font-family ke serif */
  font-family: serif;

}

p {
  color: #0000ff;
  /* Gantikan font-size ke 20px */
  font-size: 20px;
  
  /* Gantikan font-family ke "Lucida Grande" */
  font-family: "Lucida Grande";
  
}

h1 {
  color: #e6855e;
  font-size: 30px;
  /* Gantikan background-color ke #f3f372 */
  background-color: #f3f372;
  
  /* Gantikan height ke 80px */
  height: 80px;
  
  /* Gantikan width ke 200px */
  width: 200px;
  
}

img {
  /* Gantikan height ke 50px */
  height: 50px;
  
  /* Gantikan width ke 70px */
  width: 70px;
  
}

li{
  color: #444;
}

/* Gantikan warna "selected" ke #ff0000 */
.selected{
  color:#ff0000;
}

/* Gantikan font-family tag <body> ke "Avenir Next" */
body {
  font-family: "Avenir Next";
}

body {
  font-family: "Avenir Next";
}

/* Gantikan background-color header ke #f7f2b4, dan height ke 90px */
.header {
  background-color: #f7f2b4;
  height: 90px;
}

/* Gantikan background-color main ke #bdf7f1, dan height ke 600px */
.main {
  background-color: #bdf7f1;
  height: 600px;
}

/* Gantikan background-color footer ke #ceccf3, dan height ke 270px */
.footer {
  background-color: #ceccf3;
  height: 270px;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
  /* Gantikan property float ke left */
  float: left;
}

.header {
  background-color: #f7f2b4;
  height: 90px;
}

/* Gantikan font-size milik header-logo ke 36px, dan property float ke left */
.header-logo {
  font-size: 36px;
  float: left;
}

.main {
  background-color: #bdf7f1;
  height: 600px;
}

.footer {
  background-color: #ceccf3;
  height: 270px;
}
